.body
  .signup-header
    .signup-header__box
      .signup-header-logo
        = link_to image_tag("fmarket_logo_red.svg"), root_path
      %nav.signupBar
        %ol.signupList
          %li.signupInfo.marker.marker2
            .mark-name1
              会員情報
            .marking
              .mark
              .mark-line
          %li.signupTell.marker.marker2
            .mark-name2
              電話番号認証
            .marking
              .mark
              .mark-line
          %li.signupAdd.marker.now-point
            .mark-name3
              お届け先住所入力
            .marking
              .mark
              .mark-line
          %li.signupHowToPay
            .mark-name4
              支払い方法
            .marking
              .mark
              .mark-line
          %li.signupComplete
            .mark-name5
              完了
            .marking
              .mark
              .mark-line
  .addless-box
    .addless-box__title
      %h2 住所入力
    .addless-box__body
      .push-box
        = form_for @user, url: signup_index_path, method: :post do |f|
          .formbox
            .form-group
              %label.kanjiName-new
                お名前(全角)
              %span.must-content
                必須
              .input-parrent
                = f.text_field :last_name_delivery, class: "kanji1stName-info", value: "", placeholder: "例) 山田", maxlength: "20"
                = f.text_field :first_name_delivery, class: "kanji2ndName-info", value: "", placeholder: "例) 彩", maxlength: "20"
              - if @user.errors.any?
                %p.error-message 氏名を入力して下さい
            .form-group
              %label.kanaName-new
                お名前カナ(全角)
              %span.must-content
                必須
              .input-parrent
                = f.text_field :last_name_kana_delivery, class: "kana1stName-info", value: "", placeholder: "例) ヤマダ", maxlength: "20"
                = f.text_field :first_name_kana_delivery, class: "kana2ndName-info", value: "", placeholder: "例) アヤ", maxlength: "20"
              - if @user.errors.any?
                %p.error-message 氏名(フリガナ)を入力して下さい
            .form-group
              %label.yubinNum-new
                郵便番号
              %span.must-content
                必須
              = f.text_field :postal_code, class: "yubinNum-info", value: "", placeholder: "例) 123-4567"
            - if @user.errors.any?
              %p.error-message 郵便番号を入力して下さい(ハイフンが必要です)
            .form-group
              %label.prefecture-new
                都道府県
              %span.must-content
                必須
              .select-prefectures
                = f.collection_select :prefectures, Prefecture.all, :id, :name
              - if @user.errors.any?
                %p.error-message 都道府県を選択して下さい
            .form-group
              %label.municipality-new
                市町村
              %span.must-content
                必須
              = f.text_field :city, class: "password-info", value: "", placeholder: "例) 横浜市緑区"
            - if @user.errors.any?
              %p.error-message 市町村を入力して下さい
            .form-group
              %label.banchi-new
                番地
              %span.must-content
                必須
              = f.text_field :address, class: "password-info", value: "", placeholder: "例) 青山市1-1-1"
            - if @user.errors.any?
              %p.error-message 市町村を入力して下さい
            .form-group
              %label.billding-new
                建物名
              %span.nini-content
                任意
              = f.text_field :building_name, class: "password-info", value: "", placeholder: "例) 柳ビル103"
            .form-group
              %label.tellNum-new
                電話
              %span.nini-content
                任意
              = f.text_field :phone_number_delivery, class: "tellNum-info", value: "", placeholder: "09012345678"
            = f.submit "次へ進む", class: "go-ahead4"
  =render "devise/shared/footer-login"  