.body-side
  = render "layouts/header"
  - breadcrumb :edit
  = render "layouts/breadcrumbs"
  
  .container
    .container__sidebar
      = render "layouts/side-barMypage"
    .container__credit
      = render "users/credit"
  = render "items/sell-btn"
  = render "layouts/footer"
  