= render "devise/shared/header-login"
.login-page
  .login-page__no-account
    %p アカウントをお持ちでない方はこちら
    = link_to new_user_registration_path do
      .login-page__no-account__new-user
        新規会員登録
  .login-page__sns-login
    = link_to user_facebook_omniauth_authorize_path, method: :post do
      .login-page__sns-login__facebook
        = fa_icon 'facebook'
        Facebookでログイン
    = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
      .login-page__sns-login__google
        = image_tag("https://quartet-communications.com/wp-content/uploads/2017/05/Google_-G-_Logo.svg_.png")
        Googleでログイン
  .login-page__input
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.email_field :email, placeholder: "メールアドレス",  value: "", class:'login-page__input__email'
      = f.password_field :password, placeholder: "パスワード", class:'login-page__input__password'
      .login-page__input__recaptcha
        = image_tag("https://i.gyazo.com/ce5541bb0a64b4d3a55f24edb0f9b140.png")
      = f.submit "ログイン", class:'login-page__input__submit'
    = link_to 'パスワードをお忘れの方', new_user_password_path
  = render "devise/shared/footer-login"