%ul.main__items__list
  - @appliances.each do |applian|
    %li.main__items__box__list
      = link_to "items/#{applian.id}" do
        .main__items__box__list-image
          = image_tag applian.image
          .main__items__box__list-price
            = "¥#{applian.price.to_s(:delimited)}"
        .main__items__box__list-index
          = applian.name