%li.main__items__box__list
  = link_to item_path(item.id) do
    .main__items__box__list-image
      - item.images.first(1).each do |i|
        = image_tag i.image
      .main__items__box__list-price
        = "¥#{item.price.to_s(:delimited)}"
    .main__items__box__list-index
      = item.name