.body
  = render 'items/headerLogo'
  .body__content
    .body__content__title
      購入内容の確認
    .body__content__itemImageAndName
      .body__content__itemImageAndName__image
        - @item.images.first(1).each do |i|
          = image_tag i.image, height:"120", width:"100"
      .body__content__itemImageAndName__name
        %h1
          = @item.name
        %h2
          = "¥#{@item.price.to_s(:delimited)}（税込）#{@item.postage.sub(/\(.*/, '')}"
    .body__content__buyInfo
      .body__content__buyInfo__formBox
        .body__content__buyInfo__formBox__pay
          .body__content__buyInfo__formBox__pay__titleAndprice
            .body__content__buyInfo__formBox__pay__titleAndprice__title
              支払金額
            .body__content__buyInfo__formBox__pay__titleAndprice__price
            = "¥#{@item.price.to_s(:delimited)}"
          .body__content__buyInfo__formBox__pay__pointUse
            = fa_icon 'square'
            ポイントを使用 (所持ポイント: P0)
        .body__content__buyInfo__formBox__cardInfo
          .body__content__buyInfo__formBox__cardInfo__payWay
            .body__content__buyInfo__formBox__cardInfo__payWay__titleAndLink
              .body__content__buyInfo__formBox__cardInfo__payWay__titleAndLink__title
                支払い方法
              .body__content__buyInfo__formBox__cardInfo__payWay__titleAndLink__link
                = link_to "#" do
                  変更する
          .body__content__buyInfo__formBox__cardInfo__cardNumber
            %label 登録クレジットカード情報
            %br
            = "**** **** **** " + @default_card_information.last4
            %br
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
          .body__content__buyInfo__formBox__cardInfo__logo
            = image_tag "logo_visa.gif", width:"59",height:"29x"
        .body__content__buyInfo__formBox__adressInfo
          .body__content__buyInfo__formBox__adressInfo__titleAndLink
            .body__content__buyInfo__formBox__adressInfo__titleAndLink__title
              配達先
            .body__content__buyInfo__formBox__adressInfo__titleAndLink__link
              = link_to "#" do
                変更する
          .body__content__buyInfo__formBox__adressInfo__zipInfo
            %h6
              = "〒#{current_user.postal_code}"
            %h7
              = "#{current_user.prefectures} #{current_user.city} #{current_user.address} #{current_user.building_name}"
            %p
              = "#{current_user.last_name} #{current_user.first_name}"

        .body__content__buyInfo__formBox__buyBottunArea
          = link_to done_purchase_path(current_user.id) do
            .body__content__buyInfo__formBox__buyBottunArea__buyButton
              購入する
  = render 'items/footerLogo'