= render "layouts/header"
.main
  .main__slide-image
    = image_tag "top-slide.png", class: "slide-image"
  .main__category
    .main__category-tema
      人気のカテゴリー
    %ul.category-list
      %li
        =link_to "レディース", class: "category-list-item"
      %li
        =link_to "メンズ", class: "category-list-item"
      %li
        =link_to "家電・スマホ・カメラ", class: "category-list-item"
      %li
        =link_to "おもちゃ・ホビー・グッズ", class: "category-list-item"
  .main__items
    .main__items__box
      .main__items__box-tema
        商品一覧
        = link_to "もっと見る ＞", class: "items-and-more"
      %ul.main__items__list
        - @items.each do |item|
          %li.main__items__box__list
            = link_to "items/#{item.id}" do
              .main__items__box__list-image
                = image_tag "#{item.image}"
                .main__items__box__list-price
                  %span ¥
                  = item.price.to_s(:delimited)
              .main__items__box__list-index
                = item.name

  = render "sell-btn"
= render "layouts/footer"