= render "layouts/header"
.main
  .main__slide-image
    = image_tag "top-slide.png", class: "slide-image"
  .main__category
    .main__category-tema
      人気のカテゴリー
    %ul.category-list
      %li
        =link_to "レディース", class: "category-list-item"
      %li
        =link_to "メンズ", class: "category-list-item"
      %li
        =link_to "家電・スマホ・カメラ", class: "category-list-item"
      %li
        =link_to "おもちゃ・ホビー・グッズ", class: "category-list-item"
  .main__items
    .main__items__box
      .main__items__box-tema
        レディース新着アイテム
        = link_to "もっと見る ＞", class: "items-and-more"
      = render "lady"
    .main__items__box
      .main__items__box-tema
        メンズ新着アイテム
        = link_to "もっと見る ＞", class: "items-and-more"
      = render "mens"
    .main__items__box
      .main__items__box-tema
        家電・スマホ・カメラ新着アイテム
        = link_to "もっと見る ＞", class: "items-and-more"
      = render "appliances"
    .main__items__box
      .main__items__box-tema
        おもちゃ・ホビー・グッズ新着アイテム
        = link_to "もっと見る ＞", class: "items-and-more"
      = render "toy"

  = render "sell-btn"
= render "layouts/footer"