.body
  = render 'items/headerLogo'
  .body__content
    = form_for @item, local: true do |form|
      .body__content__itemInfo
        商品の情報を入力
      .body__content__formArea
        .body__content__formArea__itemImage
          .body__content__formArea__itemImage__title
            出品画像
            %span
              必須
            %p
              最大10枚までアップロードできます
          .body__content__formArea__itemImage__imagebox
            = form.file_field :image, class:"post" 
            .body__content__formArea__itemImage__imagebox__choice_box
              ドラック＆ドロップまたはクリックしてファイルをアップロード
        .body__content__formArea__itemNameAndExplanation
          .body__content__formArea__itemNameAndExplanation__name
            商品名
            %span
              必須
            .body__content__formArea__itemNameAndExplanation__name__nameForm
            = form.text_field :name, class:"name",placeholder:"商品名（必須40文字まで）"
          .body__content__formArea__itemNameAndExplanation__explanation
            商品の説明
            %span
              必須
            .body__content__formArea__itemNameAndExplanation__explanationForm
              = form.text_area :explanation,class:"explanation",placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
        .body__content__formArea__itemDetail
          .body__content__formArea__itemDetail__title
            商品の詳細
          .body__content__formArea__itemDetail__formBox
            カテゴリー
            %span
              必須
            .body__content__formArea__itemDetail__formBox__categoryForm
              %i 
              = form.collection_select :category_id, Category.where(ancestry: nil) ,:id,:name,prompt:"---"
            商品の状態
            %span
              必須
            .body__content__formArea__itemDetail__formBox__statusForm
              = form.select :status , [ ["新品、未使用",1], ["未使用に近い", 2] ["目立った傷や汚れなし", 3] ["やや傷や汚れあり", 4] ["傷や汚れあり", 5] ["全体的に状態が悪い", 6]],prompt: "---" ,class:"status"
        .body__content__formArea__itemShipping
          .body__content__formArea__itemShipping__title
            配送について
          .body__content__formArea__itemShipping__formBox
            配送料の負担
            %span
              必須
            .body__content__formArea__itemShipping__formBox__postageForm
              = form.select :postage , [ ["送料込み(出品者負担)",1], ["着払い(購入者負担)", 2]],prompt: "---",class:"postage" 
            配送の種類
            %span
              必須
            .body__content__formArea__itemShipping__formBox__deliveryTypeForm
              = form.select :delivery_type , [ ["未定",1], ["らくらくメルカリ便", 2],["ゆうメール", 3],["レターパック", 4],["普通郵便(定形、定形外)", 5],["クロネコヤマト", 6],["ゆうパック", 7],["クリックポスト",8],["ゆうパケット",9]],prompt: "---",class:"delivery_type" 
            発送元の地域
            %span
              必須
            .body__content__formArea__itemShipping__formBox__regionForm
              = form.select :region , [ ["北海道",1], ["青森県", 2],["岩手県",3],["宮城県",4],["秋田県",5],["山形県",6],["福島県",7],["茨城県",8],["栃木県",9],["群馬県",10],["埼玉県",11],["千葉県",12],["東京都",13],["神奈川県",14],["新潟県",15],["富山県",16],["石川県",17],["福井県",18],["山梨県",19],["長野県",20],["岐阜県",21],["静岡県",22],["愛知県",23],["三重県",24],["滋賀県",25],["京都府",26],["大阪府",27],["兵庫県",28],["奈良県",29],["和歌山県",30],["鳥取県",31],["島根県",32],["岡山県",33],["広島県",34],["山口県",35],["徳島県",36],["香川県",37],["愛媛県",38],["高知県",39],["福岡県",40],["佐賀県",41],["長崎県",42],["熊本県",43],["大分県",44],["宮崎県",45],["鹿児島県",46],["沖縄県",47],["未定",48]],prompt: "---",class:"region" 
            発送までの日数
            %span
              必須
            .body__content__formArea__itemShipping__formBox__shippingDate
              = form.select :shipping_date , [ ["1~2日で発送",1], ["2~3日で発送", 2], ["4~7日で発送", 3]],prompt: "---",class:"shippingDate" 
        .body__content__formArea__itemPrice
          .body__content__formArea__itemPrice__title
            販売価格(300〜9,999,999)
          .body__content__formArea__itemPrice__formBox
            価格
            %span
              必須
            =form.label :price ,"￥"
            = form.text_field :price, style:"text-align:right"
        .body__content__formArea__itemSubmitAndBack
          .body__content__formArea__itemSubmitAndBack__confirmation
            %p
              =link_to "#" do
                禁止されている出品
              ,
              = link_to "#" do
                行為
              ,を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "#" do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to "#" do
                加盟店規約
              に同意したことになります。
          .body__content__formArea__itemSubmitAndBack__submit
            = form.submit value: "出品", id:"btn"
          
          .body__content__formArea__itemSubmitAndBack__back
            = link_to root_path do
              戻る
  = render 'items/footerLogo'

    
