.item-box-container
  
  = render "layouts/header"

  .item-box-container__item-box
    .item-box-container__item-box__item-name
      NIKE スニーカー
    .item-box-container__item-box__item-wording
      『NIKE スニーカー』は、482回の取引実績を持つ小林さんから出品されました。NIKE（SHOES/スニーカー/メンズ）の商品で、北海道から1~2日で発送されます。
    .item-box-container__item-box__item-main-content
      .item-box-container__item-box__item-main-content__item-photo
        .item-box-container__item-box__item-main-content__item-photo__top
          = link_to '#' , class: 'top' do
            = image_tag 'スニーカー1.webp', class: 'photo__top', height:'280', width:'280'
        .item-box-container__item-box__item-main-content__item-photo__sub
          .item-box-container__item-box__item-main-content__item-photo__sub__sub-1
            = link_to '#' , class: 'sub-1' do
              = image_tag 'スニーカー2.webp', class: 'sub-1', height:'60', width:'60'
          .item-box-container__item-box__item-main-content__item-photo__sub__sub-2
            = link_to '#' , class: 'sub-2' do
              = image_tag 'スニーカー3.webp', class: 'sub-2', height:'60', width:'60'
          .item-box-container__item-box__item-main-content__item-photo__sub__sub-3
            = link_to '#' , class: 'sub-3' do
              = image_tag 'スニーカー4.webp', class: 'sub-3', height:'60', width:'60'
          .item-box-container__item-box__item-main-content__item-photo__sub__sub-4
            = link_to '#' , class: 'sub-4' do
              = image_tag 'スニーカー5.webp', class: 'sub-4', height:'60', width:'60'
          .item-box-container__item-box__item-main-content__item-photo__sub__sub-5
            = link_to '#' , class: 'sub-5' do
              = image_tag 'スニーカー6.webp', class: 'sub-5', height:'60', width:'60'
          .item-box-container__item-box__item-main-content__item-photo__sub__sub-6
            = link_to '#' , class: 'sub-6' do
              = image_tag 'スニーカー2.webp', class: 'sub-6', height:'60', width:'60'
          .item-box-container__item-box__item-main-content__item-photo__sub__sub-7
            = link_to '#' , class: 'sub-7' do
              = image_tag 'スニーカー3.webp', class: 'sub-7', height:'60', width:'60'
          .item-box-container__item-box__item-main-content__item-photo__sub__sub-8
            = link_to '#' , class: 'sub-8' do
              = image_tag 'スニーカー4.webp', class: 'sub-8', height:'60', width:'60'
          .item-box-container__item-box__item-main-content__item-photo__sub__sub-9
            = link_to '#' , class: 'sub-9' do
              = image_tag 'スニーカー5.webp', class: 'sub-9', height:'60', width:'60'
          .item-box-container__item-box__item-main-content__item-photo__sub__sub-10
            = link_to '#' , class: 'sub-10' do
              = image_tag 'スニーカー6.webp', class: 'sub-10', height:'60', width:'60'
      .item-box-container__item-box__item-main-content__item-detail
        .item-box-container__item-box__item-main-content__item-detail__table
          .item-box-container__item-box__item-main-content__item-detail__table__colmun-left
            出品者
          .item-box-container__item-box__item-main-content__item-detail__table__colmun-right
            = link_to '#' , class: 'colmun-right' do
              小林拓矢
        .item-box-container__item-box__item-main-content__item-detail__table-1
          .item-box-container__item-box__item-main-content__item-detail__table-1__colmun-left-1
            カテゴリー 
          .item-box-container__item-box__item-main-content__item-detail__table-1__colmun-right-1
            = link_to '#' , class: 'colmun-right-1' do
              レディース
        .item-box-container__item-box__item-main-content__item-detail__table-2
          .item-box-container__item-box__item-main-content__item-detail__table-2__colmun-left-2
            ブランド 
          .item-box-container__item-box__item-main-content__item-detail__table-2__colmun-right-2
            = link_to '#' , class: 'colmun-right-2' do
              NIKE
        .item-box-container__item-box__item-main-content__item-detail__table-3
          .item-box-container__item-box__item-main-content__item-detail__table-3__colmun-left-3
            商品の状態 
          .item-box-container__item-box__item-main-content__item-detail__table-3__colmun-right-3
            新品、未使用
        .item-box-container__item-box__item-main-content__item-detail__table-4
          .item-box-container__item-box__item-main-content__item-detail__table-4__colmun-left-4
            配送料の負担 
          .item-box-container__item-box__item-main-content__item-detail__table-4__colmun-right-4
            送料込み(出品者負担)
        .item-box-container__item-box__item-main-content__item-detail__table-5
          .item-box-container__item-box__item-main-content__item-detail__table-5__colmun-left-5
            配送の方法 
          .item-box-container__item-box__item-main-content__item-detail__table-5__colmun-right-5
            普通郵便(定型、定形外)
        .item-box-container__item-box__item-main-content__item-detail__table-6
          .item-box-container__item-box__item-main-content__item-detail__table-6__colmun-left-6
            配送元地域 
          .item-box-container__item-box__item-main-content__item-detail__table-6__colmun-right-6
            = link_to '#' , class: 'colmun-right-6' do
              東京都
        .item-box-container__item-box__item-main-content__item-detail__table-7
          .item-box-container__item-box__item-main-content__item-detail__table-7__colmun-left-7
            発送の目安 
          .item-box-container__item-box__item-main-content__item-detail__table-7__colmun-right-7
            2~3日で発送

    .item-box-container__item-box__item-price-box
      .item-box-container__item-box__item-price-box__item-price
        ¥10,000
      .item-box-container__item-box__item-price-box__item-tax
        (税込み)
      .item-box-container__item-box__item-price-box__item-shipping-fee
        送料込み
    
    .item-box-container__item-box__item-buy-btn
      = link_to confirmation_items_path , class: 'item-buy-btn' do
        購入画面に進む
      
    .item-box-container__item-box__item-description
      商品説明
    .item-box-container__item-box__item-button-container
      .item-box-container__item-box__item-button-container__item-button-left
        .item-box-container__item-box__item-button-container__item-button-left__iine-btn
          = link_to '#' , class: 'iine-btn' do
            ♡いいね！1
        .item-box-container__item-box__item-button-container__item-button-left__report-btn
          = link_to '#' , class: 'report-btn' do
            不適切な商品の報告
      .item-box-container__item-box__item-button-container__item-button-right
        = link_to '#' , class: 'item-button-right' do
          あんしん・あんぜんへの取り組み
  
  .item-box-container__item-detail-message
    .item-box-container__item-detail-message__message-container
      .item-box-container__item-detail-message__message-container__for-user-message
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .item-box-container__item-detail-message__message-container__comment-box
      .item-box-container__item-detail-message__message-container__comment-button
        = link_to '#' , class: 'comment-button' do
          コメントする
  
  .item-box-container__item-nav
    .item-box-container__item-nav__link-prev
      = link_to '#' , class: 'link-prev' do
        < ニット
    .item-box-container__item-nav__link-next
      = link_to '#' , class: 'link-next' do
        シューズ >
  
  .item-box-container__sns-box
    .item-box-container__sns-box__icon-box
      .item-box-container__sns-box__icon-box__icon1
        = link_to '#' do
          = image_tag 'facebook-icon.svg', class: 'icon1', height:'44', width:'44'
      .item-box-container__sns-box__icon-box__icon2
        = link_to '#' do
          = image_tag 'twitter-3.svg', class: 'icon2', height:'44', width:'44'
      .item-box-container__sns-box__icon-box__icon3
        = link_to '#' do
          = image_tag 'line-messenger.svg', class: 'icon3', height:'44', width:'44'
      .item-box-container__sns-box__icon-box__icon4
        = link_to '#' do
          = image_tag 'pinterest-circle.svg', class: 'icon4', height:'44', width:'44'
    
  .item-box-container__items-user-profile 
    .item-box-container__items-user-profile__user-items-container
      .item-box-container__items-user-profile__user-items-container__items-box-head
        .item-box-container__items-user-profile__user-items-container__items-box-head__other
          = link_to '#' , class: 'other' do
            ○○さんのその他の商品
      .item-box-container__items-user-profile__user-items-container__items-box-content
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box__photo
            = link_to '#' , class: 'photo' do
              = image_tag 'スニーカー1.webp', class: 'items-box__photo', height:'220', width:'220'
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box__body
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box__body__items-box-name
              = link_to '#' , class: 'items-box-name' do
                スニーカー
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box__body__items-box-num
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box__body__items-box-num__items-box-price
                = link_to '#' , class: 'items-box-price' do
                  ¥12,000
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box__body__items-box-num__items-box-like
                = link_to '#' , class: 'items-box-like' do
                  ♡ 1
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-1
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-1__photo-1
            = link_to '#' , class: 'photo-1' do
              = image_tag 'スニーカー1.webp', class: 'photo-1', height:'220', width:'220'
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-1__body-1
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-1__body-1__items-box-name-1
              = link_to '#' , class: 'items-box-name-1' do
                スニーカー
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-1__body-1__items-box-num-1
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-1__body-1__items-box-num-1__items-box-price-1
                = link_to '#' , class: 'items-box-price-1' do
                  ¥12,000
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-1__body-1__items-box-num-1__items-box-like-1
                = link_to '#' , class: 'items-box-like-1' do
                  ♡ 1
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-2
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-2__photo-2
            = link_to '#' , class: 'photo-2' do
              = image_tag 'スニーカー1.webp', class: 'photo-2', height:'220', width:'220'
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-2__body-2
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-2__body-2__items-box-name-2
              = link_to '#' , class: 'items-box-name-2' do
                スニーカー
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-2__body-2__items-box-num-2
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-2__body-2__items-box-num-2__items-box-price-2
                = link_to '#' , class: 'items-box-price-2' do
                  ¥12,000
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-2__body-2__items-box-num-2__items-box-like-2
                = link_to '#' , class: 'items-box-like-2' do
                  ♡ 1
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-3
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-3__photo-3
            = link_to '#' , class: 'photo-3' do
              = image_tag 'スニーカー1.webp', class: 'photo-3', height:'220', width:'220'
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-3__body-3
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-3__body-3__items-box-name-3
              = link_to '#' , class: 'items-box-name-3' do
                スニーカー
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-3__body-3__items-box-num-3
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-3__body-3__items-box-num-3__items-box-price-3
                = link_to '#' , class: 'items-box-price-3' do
                  ¥12,000
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-3__body-3__items-box-num-3__items-box-like-3
                = link_to '#' , class: 'items-box-like-3' do
                  ♡ 1
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-4
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-4__photo-4
            = link_to '#' , class: 'photo-4' do
              = image_tag 'スニーカー1.webp', class: 'photo-4', height:'220', width:'220'
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-4__body-4
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-4__body-4__items-box-name-4
              = link_to '#' , class: 'items-box-name-4' do
                スニーカー
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-4__body-4__items-box-num-4
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-4__body-4__items-box-num-4__items-box-price-4
                = link_to '#' , class: 'items-box-price-4' do
                  ¥12,000
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-4__body-4__items-box-num-4__items-box-like-4
                = link_to '#' , class: 'items-box-like-4' do
                  ♡ 1
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-5
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-5__photo-5
            = link_to '#' , class: 'photo-5' do
              = image_tag 'スニーカー1.webp', class: 'photo-5', height:'220', width:'220'
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-5__body-5
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-5__body-5__items-box-name-5
              = link_to '#' , class: 'items-box-name-5' do
                スニーカー
            .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-5__body-5__items-box-num-5
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-5__body-5__items-box-num-5__items-box-price-5
                = link_to '#' , class: 'items-box-price-5' do
                  ¥12,000
              .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-5__body-5__items-box-num-5__items-box-like-5
                = link_to '#' , class: 'items-box-like-5' do
                  ♡ 1
    .item-box-container__items-user-profile__blands-items-container
      .item-box-container__items-user-profile__blands-items-container__blands-box-head
        .item-box-container__items-user-profile__blands-items-container__blands-box-head__blands-other
          = link_to '#' , class: 'blands-other' do
            ブランドのその他の商品
      .item-box-container__items-user-profile__blands-items-container__blands-items-box-content
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box__blands-photo
            = link_to '#' , class: 'blands-photo' do
              = image_tag 'スニーカー1.webp', class: 'blands-photo', height:'220', width:'220'
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box__blands-body
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box__blands-body__blands-items-box-name
              = link_to '#' , class: 'blands-items-box-name' do
                スニーカー
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box__blands-body__blands-items-box-num
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box__blands-body__blands-items-box-num__blands-items-box-price
                = link_to '#' , class: 'blands-items-box-price' do
                  ¥12,000
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box__blands-body__blands-items-box-num__blands-items-box-like
                = link_to '#' , class: 'blands-items-box-like' do
                  ♡ 1
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-1
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-1__blands-photo-1
            = link_to '#' , class: 'blands-photo-1' do
              = image_tag 'スニーカー1.webp', class: 'blands-photo-1', height:'220', width:'220'
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-1__blands-body-1
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-1__blands-body-1__blands-items-box-name-1
              = link_to '#' , class: 'blands-items-box-name-1' do
                スニーカー
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-1__blands-body-1__blands-items-box-num-1
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-1__blands-body-1__blands-items-box-num-1__blands-items-box-price-1
                = link_to '#' , class: 'blands-items-box-price-1' do
                  ¥12,000
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-1__blands-body-1__blands-items-box-num-1__blands-items-box-like-1
                = link_to '#' , class: 'blands-items-box-like-1' do
                  ♡ 1
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-2
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-2__blands-photo-2
            = link_to '#' , class: 'blands-items-box-name-2' do
              = image_tag 'スニーカー1.webp', class: 'blands-photo-2', height:'220', width:'220'
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-2__blands-body-2
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-2__blands-body-2__blands-items-box-name-2
              = link_to '#' , class: 'blands-items-box-name-2' do
                スニーカー
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-2__blands-body-2__blands-items-box-num-2
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-2__blands-body-2__blands-items-box-num-2__blands-items-box-price-2
                = link_to '#' , class: 'blands-items-box-price-2' do
                  ¥12,000
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-2__blands-body-2__blands-items-box-num-2__blands-items-box-like-2
                = link_to '#' , class: 'blands-items-box-like-2' do
                  ♡ 1
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-3
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-3__blands-photo-3
            = link_to '#' , class: 'blands-photo-3' do
              = image_tag 'スニーカー1.webp', class: 'blands-photo-3', height:'220', width:'220'
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-3__blands-body-3
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-3__blands-body-3__blands-items-box-name-3
              = link_to '#' , class: 'blands-items-box-name-3' do
                スニーカー
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-3__blands-body-3__blands-items-box-num-3
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-3__blands-body-3__blands-items-box-num-3__blands-items-box-price-3
                = link_to '#' , class: 'blands-items-box-price-3' do
                  ¥12,000
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-3__blands-body-3__blands-items-box-num-3__blands-items-box-like-3
                = link_to '#' , class: 'blands-items-box-like-3' do
                  ♡ 1
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-4
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-4__blands-photo-4
            = link_to '#' , class: 'blands-photo-4' do
              = image_tag 'スニーカー1.webp', class: 'blands-photo-4', height:'220', width:'220'
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-4__blands-body-4
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-4__blands-body-4__blands-items-box-name-4
              = link_to '#' , class: 'blands-items-box-name-4' do
                スニーカー
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-4__blands-body-4__blands-items-box-num-4
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-4__blands-body-4__blands-items-box-num-4__blands-items-box-price-4
                = link_to '#' , class: 'blands-items-box-price-4' do
                  ¥12,000
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-4__blands-body-4__blands-items-box-num-4__blands-items-box-like-4
                = link_to '#' , class: 'blands-items-box-like-4' do
                  ♡ 1
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-5
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-5__blands-photo-5
            = link_to '#' , class: 'photo-5' do
              = image_tag 'スニーカー1.webp', class: 'blands-photo-5', height:'220', width:'220'
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-5__blands-body-5
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-5__blands-body-5__blands-items-box-name-5
              = link_to '#' , class: 'blands-items-box-name-5' do
                スニーカー
            .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-5__blands-body-5__blands-items-box-num-5
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-5__blands-body-5__blands-items-box-num-5__blands-items-box-price-5
                = link_to '#' , class: 'blands-items-box-price-5' do
                  ¥12,000
              .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-5__blands-body-5__blands-items-box-num-5__blands-items-box-like-5
                = link_to '#' , class: 'blands-items-box-like-5' do
                  ♡ 1
    .item-box-container__bread-crumbs-content
      .item-box-container__bread-crumbs-content__mercari-btn
        = link_to '#' , class: 'mercari-btn' do
          メルカリ>
      .item-box-container__bread-crumbs-content__brand-btn
        ニット セーター NIKE
  
  = render "layouts/footer"