.footer
  .footer__upper
    .footer__upper__box
      .footer__upper__box__left
        %p.row1 スマホでかんたんフリマアプリ
        %p.row2 今すぐ無料ダウンロード！
        .footer__upper__box__logos
          = image_tag "logo_red.svg", alt: "", class: "fmarketlogo"
          = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2177740229", height: "40", class: "appstore-link"), "#"
          = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2177740229", height: "40", class: "googleplay-link"),"#"
      .footer__upper__box__right
        = image_tag "smart-phone.png", alt: ""


  .footer__lower
    .footer__lower__links
      .footer__lower__links__about
        %p メルカリについて
        %ul
          %li.outer-links
            = link_to "会社概要（運営会社）", "#"
          %li.outer-links
            = link_to "採用情報", "#"
          %li.outer-links
            = link_to "プレスリリース", "#"
          %li.outer-links
            = link_to "公式ブログ", "#"
          %li.outer-links
            = link_to "メルカリロゴ利用ガイドライン", "#"
          .sns-icons
            =link_to "#" do
              = fa_icon "twitter"
            =link_to "#" do
              = fa_icon "facebook-square"
      .footer__lower__links__help-guide
        %p ヘルプ＆ガイド
        %ul
          %li.outer-links
            = link_to "メルカリガイド", "#"
          %li.outer-links
            = link_to "らくらくメルカリ便", "#"
          %li.outer-links
            = link_to "ゆうゆうメルカリ便", "#"
          %li.outer-links
            = link_to "大型メルカリ便", "#"
          %li.outer-links
            = link_to "車体取引ガイド", "#"
          %li.outer-links
            = link_to "メルカリあんしん・あんぜん宣言！", "#"
          %li.outer-links
            = link_to "偽ブランド品撲滅への取り組み", "#"
          %li.outer-links
            = link_to "メルカリボックス", "#"
      .footer__lower__links__privacy
        %p プライバシーと利用規約
        .footer__lower__links__privacy__box
          .footer__lower__links__privacy__box-left
            %ul
              %li.outer-links
                = link_to "プライバシーポリシー", "#"
              %li.outer-links
                = link_to "メルカリ利用規約", "#"
              %li.outer-links
                = link_to "あんしんスマホサポート制度に関する利用特約", "#"
              %li.outer-links
                = link_to "コンプライアンスポリシー", "#"
          .footer__lower__links__privacy__box-right
            %ul
              %li.outer-links
                = link_to "個人データのあんぜん管理に係る基本方針", "#"
              %li.outer-links
                = link_to "特定商取引に関する表記", "#"
              %li.outer-links
                = link_to "資金決済法に基づく表示", "#"
              %li.outer-links
                = link_to "法令順守と犯罪抑止のために", "#"
      .footer__lower__links__country
        %p 国
        %ul
          %li.outer-links
            = link_to "日本", "#"
          %li.outer-links
            = link_to "United States", "#"


    .footer__lower__copyright
      = link_to root_path do
        = image_tag "fmarket_logo_white.svg"
      .footer__lower__copyright__c © 2020 Mercari
      